/* Variables */ 
$bg-color: darken(#414850, 5%);
$navbar-bg: darken(#414850, 10%);
$main-color: #414850;
$daycell-bg: #74b9ff;

@import './components/layout/navbar.scss';
@import './components/layout/homepage.scss';
@import './components/auth/auth.scss';
@import './components/weeks/weeks.scss';
@import './components/day/daymodal.scss';
@import './components/day/modalheader.scss';
@import './components/day/modalbody.scss';
@import './components/roadmap/roadmap.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/* Global */

* {
	font-family: 'Quicksand', sans-serif;
}
body {
  margin: 0;
	background-color: $bg-color;


}

input {
  font-family: 'Quicksand', sans-serif;
}

.button {
  border: none;
  border-radius: 3px;
  padding: .4em;
  outline: none;
  font-weight: 500;
  color: #fff;
  margin: .5em auto;
  background-color: darken($color: $main-color, $amount: 5%);
  cursor: pointer;
  
  &:hover {
    background-color: lighten($color: $main-color, $amount: 10%);
    cursor: pointer;
  }

  &:active {
    background-color: #363b42;
  }

}

.button2 {
  border: none;
  border-radius: 3px;
  padding: .4em;
  outline: none;
  font-weight: 500;
  color: #fff;
  background-color: $main-color;
  cursor: pointer;
  
  &:hover {
    background-color: lighten($color: $main-color, $amount: 10%);
    cursor: pointer;
  }

  &:active {
    background-color: #363b42;
  }


}