.roadmap {
	color: #fff;

	h2,
	h3 {
		margin: 0;
	}

	h2 {
		margin: 0 0 0 .5em;
	}
	h3 {
		margin: 0 0 1em 1em;
	}

	.roadmap-navbar {
		// border: 1px solid blue;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.buttons {
			span {
				margin: 0;
				padding: 0;
				font-size: 14px;
			}

			.btn-category {
				padding: 0 1em 0 0;
				outline: none;
				border: none;
				background-color: $bg-color;
				color: white;
				font-weight: 700;
				font-size: 14px;
				margin: auto;
				cursor: pointer;
			}
		}
	}

	.tasks-list {
		margin: 1em 1em;

		.addtask-button-container {
			display: flex;
			justify-content: flex-end;

			.add-task {
				border: none;
				border-radius: 3px;
				padding: .4em;
				outline: none;
				font-weight: 700;
				color: #fff;
				background-color: #414850;
				cursor: pointer;
			}
		}

		.tasks-container {
			width: 90%;
			margin: auto;
			display: flex;
			justify-content: space-evenly;
			flex-wrap: wrap;

		}

		.opened-drawer {
			margin-left: 0;
			width: 75%;
		}

		.task {
			font-weight: 600;
			margin: 2em .5em;
			border-radius: 15px;
			background-color: #414850;
			width: 13em;
			
			// right drawer
			.MuiPaper-root {
				
			}

			.task-img {
				text-align: center;
				background-color: #63A9DC;
				width: 3.5em;
				height: 3.5em;
				margin: -5em auto .5em;
				border-radius: 15px;
				cursor: pointer;
			}

			.progress-bar {
				p {
					display: flex;
					justify-content: flex-end;
					margin: 0;
				}
				width: 80%;
				margin: 1em auto;
			}

			&::before {
				content: " ";
				display: inline-block;
				border-top: 50px solid rgb(0, 119, 255);
				border-right: 50px solid #414850;
				border-radius: 15px 0px 0px 0px;
			}
			
			.buttons, .task-info {
				display: flex;
				margin: .5em;
			}

			.stats {
				display: flex;
				flex-direction: row;
				justify-content: center;

				.icon, .due-icon {
					display: flex;
					flex-direction: row;
					margin: 5px;
				}

				.due-icon {
					background-color: grey;
					border-radius: 15px;
					padding: 0 5px;
				}
			}

		

			.icon-btn {
				display: flex;
				align-self: flex-end;
				justify-content: flex-end;
				// margin-top: -3em;

				.buttons {
					display: flex;
					flex-direction: row;
					margin: auto;
					padding: 0;
				}

			}

			
			.task-info {
				flex-direction: column;
			

				p {
					margin-top: 0;
				}

				.infos {
					text-align: center;
					margin-top: -2em;
				}


			}
		}
		
	}
	
}
// overwrite materialui
.button {
	margin: .5em !important;
}

// add roadmap modal
.addroadmap-modal, .updatetask-modal {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background: $main-color;
  color: white;
  padding: .5em;
	outline: none;
	border: 2px solid black;
	border-radius: 5px;
	
  form {
    display: flex;
    flex-direction: column;

    input {
      margin: 1em;
      border: none;
      width: 8em;
      padding: .5em 1em;
      margin: .5em auto;
    }

    
  }
  button {
    // border: none;
    // border-radius: 3px;
    // padding: .4em;
    // outline: none;
    // font-weight: 700;
    // color: #fff;
    // background-color: #414850;
		cursor: pointer;
  }
} 


// update task modal