
  
.weeks-container {
	margin: 2em auto;
	color: #fff;
}

.addWeek {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 1em .5em;

	button {
		border: none;
		border-radius: 3px;
		padding: .4em;
		outline: none;
		font-weight: 500;
		color: #fff;
		background-color: $main-color;
		cursor: pointer;
		
		&:hover {
			background-color: lighten($color: $main-color, $amount: 10%);
			cursor: pointer;
		}

		&:active {
			background-color: #363b42;
		}


	}
	
}

.week-row {
  display: flex;
	flex: 1 0 14.2857142857%;
	/* flex: 1 0 10%; */
	justify-content: center;
	// border: 1px solid red;
	margin: auto;
	text-align: center;
}

.day {
	display: flex;
	flex-direction: column;  
}
  
.day:hover {
  cursor: pointer;
}
  
.c25 { background-color: $daycell-bg; }
.c50 { background-color: darken($daycell-bg, 20%); } 
.c75 { background-color: darken($daycell-bg, 35%); }
.c100 { background-color: darken($daycell-bg, 50%); }
.c101 { background-color: darken($daycell-bg, 60%); }
	
.cell {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: .1em;
	width: 2.5em;
	height: 4em;
}

.dayinfo-container {
  display: flex;
  flex-direction: column;
}

.span-day {
  font-size: .8em;
}

// Mobile L
@media (min-width: 425px) {
	.cell {
		width: 3.5em;
		height: 4em;
		padding: 0;
	}

	.span-day, .addWeek button {
		font-weight: 600;
	}
}

@media (min-width: 600px) {
	.cell {
		width: 5em;
		height: 4em;
		padding: 0;
	}

}

// Tablet
@media (min-width: 768px) {
	.cell {
		width: 6em;
		height: 5em;
	}
}

// Laptop
@media (min-width: 1024px) {
	.cell {
		width: 6em;
		height: 5em;
	}
}

// Laptop L
@media (min-width: 1440px) {
	
}
