
// homepage -> for connected users
.homepage {
}

// landing -> for guest user
.landing {
}

.homepage, .landing {
    margin: 2em 0;
    text-align: center;
    color: #fff;
    font-weight: 500;

    
}