.navbar {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1em;
	background-color: $navbar-bg;
  font-family: 'Josefin Sans', sans-serif;

	h1 {
		margin: auto 1em;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	.links {
		margin: 1em 0 0 0;

		a {
			color: #fff;
			margin: .5em;
			text-decoration: none;
		}
	}
}

// Mobile L
@media (min-width: 425px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		flex-direction: row;

		h1 {
			margin: 0;
		}

		.links {
			margin: auto 0;
		}
	}
}

// Tablet
@media (min-width: 768px) {
	//	
}

// Laptop
@media (min-width: 1024px) {
	
}

// Laptop L
@media (min-width: 1440px) {
	
}
